.wrapper{
  margin: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80vh;
  width: 100vh; */
}

.accordion{
  width: 500px;
}

.item{
  background-color: #000;
  margin-bottom: 5px;
  padding: 10px 20px;
}

.title{
  /* color: #85662b; */
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content{
  /* color: #8b7f75; */
  color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show{
  height: auto;
  max-height: 999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}

.header-text{
  text-align: center;
}